ConsoleTesteConexaoMySql/.vs/ConsoleTesteConexaoMySql/v16/.suo
ConsoleTesteConexaoMySql/ConsoleTesteConexaoMySql/obj/ConsoleTesteConexaoMySql.csproj.nuget.dgspec.json
ConsoleTesteConexaoMySql/ConsoleTesteConexaoMySql/obj/ConsoleTesteConexaoMySql.csproj.nuget.g.props
ConsoleTesteConexaoMySql/ConsoleTesteConexaoMySql/obj/ConsoleTesteConexaoMySql.csproj.nuget.g.targets
ConsoleTesteConexaoMySql/ConsoleTesteConexaoMySql/obj/project.assets.json
ConsoleTesteConexaoMySql/ConsoleTesteConexaoMySql/obj/Debug/netcoreapp3.1/ConsoleTesteConexaoMySql.assets.cache
ConsoleTesteConexaoMySql/ConsoleTesteConexaoMySql/obj/Debug/netcoreapp3.1/ConsoleTesteConexaoMySql.csproj.FileListAbsolute.txt
ConsoleTesteConexaoMySql/ConsoleTesteConexaoMySql/obj/Debug/netcoreapp3.1/ConsoleTesteConexaoMySql.exe
